* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 50px;
}

/* Container */
.container {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.features {
    color: white;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    min-height: 200px;
    background-image: url(img/coffee.jpg);
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    min-height: 200px;
    background-image: url(img/breakfast.jpg);
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 3em;
    font-weight: 100;
}

/* Navigasi */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
}

.menu ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    text-decoration: none;
    background-color: coral;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.menu a:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    ;
}

/* Hamburger Menu */
.menu-toggle {
    z-index: 2;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}


.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: coral;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animations */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}

/* Services */
.icon svg {
    color: coral;
    height: 54px;
    width: 54px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.services-2 {
    display: grid;
    grid-template-columns: 1fr;
}

.service,
.sell {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid coral;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.services h3,
.services-2 h3 {
    font-size: 1.5em;
}

.services p,
.services-2 p {
    font-weight: 100;
    font-size: 0.8em;
}

/* Gallery */
.gallery {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

/* Footer */
footer {
    display: block;
    background-color: coral;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p svg {
    color: crimson;
}

footer p a {
    text-decoration: none;
}

footer p a:visited {
    color: blue;
}

footer p a:hover {
    color: rgb(83, 83, 255);
}



/* Responsive Breakpoint */
@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .brand {
        display: none;
    }

    .hero>* {
        display: block;
        background-color: coral;
        color: white;
        padding: 5px;
        margin-bottom: 5px;

    }

    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    body {
        margin: 15px;
    }

    .menu {
        order: -1;
        justify-items: end;
    }


    .menu-toggle {
        display: flex;
    }

    nav.menu ul {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: coral;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    nav.menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 576px) {
    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2';
    }
}